{% include 'header.html' %}
  <body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{appType}} | Car Project</h1>
                <h3>Demo:
                        <a href="{{url_for('createcar')}}">Create</a>
                        /
                        <a href="{{url_for('readcar')}}">Read</a>
                        /
                        <a href="{{url_for('updatecar')}}">Update</a>
                        /
                        <a href="{{url_for('deletecar')}}">Delete</a>
                        /
                        <a href="{{url_for('searchcar')}}">Search</a>
                </h3> 
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <h4>Create Car Data</h4>
                <form role="form" action="{{url_for('createcarsave')}}" method="POST" >
                    <div class="form-group">
                        <label for="carName">
                            Name 
                        </label>
                        <input type="text" class="form-control" id="carName" name="carName">
                    </div>

                    <div class="form-group">
                    <label for="carBrand">
                         Brand
                        </label>
                        <input type="text" class="form-control" id="carBrand" name='carBrand'>
                    </div>

                    <div class="form-group">
                        <label for="carModel">
                            Model
                        </label>
                        <input type="text" class="form-control" id="carModel" name="carModel">
                    </div>

                    <div class="form-group">
                        <label for="carPrice">
                            Price
                        </label>
                        <input type="text" class="form-control" id="carPrice" name="carPrice">
                    </div>

                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </form>
            </div>
            
        </div>
    </div>
  </body>
{% include 'footer.html' %}